<table>
    <tr>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Informática 1')">Informática 1</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Informática 2')">Informática 2</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Informática 3')">Informática 3</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Informática 4')">Informática 4</a></td>
    </tr>
    <tr>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Edificações 1')">Edificações 1</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Edificações 2')">Edificações 2</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Edificações 3')">Edificações 3</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Edificações 4')">Edificações 4</a></td>
    <tr>
    <tr>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Contabilidade 1')">Contabilidade 1</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Contabilidade 2')">Contabilidade 2</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Contabilidade 3')">Contabilidade 3</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Contabilidade 4')">Contabilidade 4</a></td>
    <tr>
    <tr>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Gest. Comercial 1')">Gest. Comercial 1</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Gest. Comercial 2')">Gest. Comercial 2</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Gest. Comercial 3')">Gest. Comercial 3</a></td>
        <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonTurma('Gest. Comercial 4')">Gest. Comercial 4</a></td>
    <tr>
</table>
