<table>
        <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Adriana');">Adriana</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Alexandre');">Alexandre</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Amândio');">Amândio</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('André');">André</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Anna Carolina');">Anna Carolina</a></td>
        </tr>
        <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Anna Cecília')">Anna Cecília</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Arquimedes')">Arquimedes</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Bruna')">Bruna</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Cecília/Tatiana')">Cecília/Tatiana</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Cláudia')">Cláudia</a></td>
        <tr>
         <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Cícero D')">Cícero D</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Cícero M')">Cícero M</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Daniel')">Daniel</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Dayana')">Dayana</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Divino')">Divino</a></td>
        <tr>
         <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Eduardo')">Eduardo</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Erick')">Erick</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Erivan')">Erivan</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Fernando')">Fernando</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Jefferson')">Jefferson</a></td>
        <tr>
         <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('José Barros')">José Barros</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('João Luiz')">João Luiz</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Katarina')">Katarina</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Kyara')">Kyara</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Larissa')">Larissa</a></td>
        </tr>
        <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Larisse')">Larisse</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Luiza')">Luiza</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Líbna')">Líbna</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Marcos')">Marcos</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Michel')">Michel</a></td>
        <tr>
        <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Moisés')">Moisés</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Monique')">Monique</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Nélio')">Nélio</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Nélio e Bruna')">Nélio e Bruna</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Ramon')">Ramon</a></td>
        <tr>
        <tr>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Rodrigo')">Rodrigo</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Rômulo Amorim')">Rômulo Amorim</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Sabrina')">Sabrina</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Sayonara')">Sayonara</a></td>
            <td><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Tatiana')">Tatiana</a></td>
        <tr>
        <tr>
            <td colspan="5"><a class="btn-flat btn-large width-100 container" onclick="myFilterButtonProfessor('Vera')">Vera</a></td>
        <tr>
     </table>
