<script>
    function Infor() {
        document.getElementById('index').style.display = "none";
        document.getElementById('infor').style.display = "block";
    }
</script>

<footer class="my-footer z-depth-2">
    <p>
        <a class="waves-effect waves-teal btn-flat my-imprint-link width-10" onclick="Infor()">Informações</a>
        <a href="https://github.com/ThiagoWhispher/HorarioGBA" class="waves-effect waves-teal btn-flat my-github-link width-10"><i class="fa fa-github"></i></a>
        <a href="http://www.ifpb.edu.br/guarabira" class="waves-effect waves-teal btn-flat my-imprint-link width-10">Site</a>
    </p>
</footer>
