<head>
    <title>IFPB-Guarabira</title>

    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="styles/mlz/mlz.css">    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/syntax.css">
    <link rel="stylesheet" href="styles/github-markdown.css">
    <link rel="stylesheet" href="styles/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/table_personal.css">
    
    <script type="text/javascript" src="styles/jquery.js"></script>
</head>
