<script>
    function Home() {
        document.getElementById('infor').style.display = "none";
        document.getElementById('index').style.display = "block";
    }
</script>
<div>
    <p> <span class="my-mini-heading">Informações</span> </p>
    <br>
    <ul>
        <li>
            <p class="my-item" >Autores<br>
                <span class="my-item-sub">Thiago Yuri Evaristo de souza</span>
                <span class="my-item-sub">João Marcelo Fernandes da Silva Junior</span>
            </p>
        </li>
        <li>
            <p class="my-item">
                Email
                <br>
                <span class="my-item-sub">thiagoyeds2013@gmail.com</span>
                <span class="my-item-sub">marcelinhofernandes2013@gmail.com</span>
            </p>
        </li>
    </ul>
</div>

<div class="center-align">
    <a class="waves-effect waves-teal btn-flat btn-large" onclick="Home()">Fechar</a>
</div>
