{% for professor in site.data.horarios.professores %}
    <div id="{{professor.nome}}" class="container table-responsive my-border width-100 marg-50 display-none">
    <h1 class="my-name">{{ professor.nome }}</h1>
	    <table class="table-center marg-50">
		    <tr>
		    {% for coluna in professor.colunas %}
			{% if coluna == "Hora" %}
			    <th class="my-description my-section border-solid-1 font-17 width-75px">{{ coluna }}</th>
			{% else %}
			    <th class="my-description my-section border-solid-1 font-17 width-200px">{{ coluna }}</th>
			{% endif %}
		    {% endfor %}
		    </tr>
		    {% for linha in professor.linhas %}
		    <tr>
			<td class="my-description my-section border-solid-1">{{linha.horario}}</td>
			{% for aula in linha.aulas %}
			    {% if aula.disciplina == "INTERVALO" or aula.disciplina == "JANTAR" or aula.disciplina == "ALMOÇO" %}
				<td colspan="5" class="my-description my-section border-solid-1 back-cz">{{aula.disciplina}}</td>
				{% break %}
			    {% else %}
				<td class="my-description my-section border-solid-1">{{aula.disciplina}}<br>{{aula.turma}}</td>
			    {% endif %}
			{% endfor %}
		    </tr>
		    {% endfor %}
	    </table>
    </div>
{% endfor %}
