<!DOCTYPE html> 
<html>
  {% include head.html %}
  <body class="width-100">
    <div class="container marg-50">
      <div class="my-section marg-10-top my-border" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
        <div>
          <img src="images/logo_ifpb.jpg" alt="boat" class="img-conf">
        </div>
        <h1 itemprop="headline"><a class="my-name">IFPB - Guarabira</a></h1>
        <p class="my-description" itemprop="text">
          Tenha acesso online aos horários de nossa instituição !!
          <br>
          <i class="fa fa-map-marker"></i> Guarabira, Paraíba, Brasil
        </p>
      </div>
      <div id="infor" class="my-section display-none">
           <script>
              function Home() {
                  document.getElementById('infor').style.display = "none";
                  document.getElementById('index').style.display = "block";
                  displayNoneTurma(0);
                  displayNoneProfessor(0);
              }
          </script>
          <div class="my-border marg-100 marg-10-top">
              <p> <span class="my-mini-heading">Autores</span></p>
              <div style="width:90%;margin-left:auto;margin-right:auto;">
                <div style="float:left;width:33.333%" class="my-border">
                  <div>
                    <img src="images/autor-1.jpg" alt="boat" style="width: 99%;height: 99%;">    
                   </div>
                <p>Thiago</p><p>
                <i class="fa fa-envelope-o"></i> Email (GMAIL)
              </p>
              <p>
                thiagoyeds2013
              </p>
              <i class="fa fa-github"></i> GitHub
              <p></p>
              <p>
                ThiagoWhispher
              </p>
              </div>
                <div style="float:left;width:33.333%" class="my-border">
                  <div>
                    <img src="images/autor-2.jpg" alt="boat" style="width: 100%;height: 100%;border-radius: 4px;">    
                   </div>  
                  <p>João Marcelo</p>
              <i class="fa fa-envelope-o"></i> Email (GMAIL)
              <p></p>
              <p>
                marcelinhofernandes 
              </p><i class="fa fa-github"></i> GitHub
              <p></p>
              <p>
                jmarcelinho
              </p>
                </div>
                <div style="float:left;width:33.333%" class="my-border">
                  <div>
                    <img alt="boat" style="width: 100%;height: 100%;border-radius: 4px;" src="images/autor-3.jpg">    
                   </div>  
                <p>Moises</p>
              <i class="fa fa-envelope-o"></i> Email (IFPB.EDU.BR)
              <p></p>
              <p>
                moises.medeiros 
              </p>
              <i class="fa fa-github"></i> GitHub
              <p></p>
              <p>
                moisesguimaraes
              </p>
                </div>
              </div>
              
          <div class="center-align">
              <a class="my-border waves-effect waves-teal btn-flat btn-large" onclick="Home()" style="margin-top:10px">Fechar</a>
          </div>
      </div>


          
      </div>
      <div class="my-section" id="index" style="display:block">
        <div>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
