<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="width-100">
    <div class="container marg-100">
      <div class="my-section marg-10-top my-border" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
        <div>
          <img src="images/logo_ifpb.jpg" alt="boat" style="width:50%;height:100%;min-height:300px;max-height:800px;min-width:500px;max-width:1000px;">
        </div>
        <h1 itemprop="headline"><a class="my-name">IFPB - Guarabira</a></h1>
        <p class="my-description" itemprop="text">
          Tenha acesso online aos horários de nossa instituição !!
          <br>
          <i class="fa fa-map-marker"></i> Guarabira, Paraíba, Brasil
        </p>
      </div>
      <div id="infor" class="my-section display-none">
           <script>
              function Home() {
                  document.getElementById('infor').style.display = "none";
                  document.getElementById('index').style.display = "block";
                  displayNoneTurma(0);
                  displayNoneProfessor(0);
              }
          </script>
          <div class="my-border marg-100 marg-10-top">
              <p> <span class="my-mini-heading">Informações</span> </p>
              <ul>
                  <li>
                      <p class="my-item" >Autores<br>
                          <span class="my-item-sub">Thiago Yuri Evaristo de souza</span>
                          <br>
                          <span class="my-item-sub">João Marcelo Fernandes da Silva Junior</span>
                      </p>
                  </li>
                  <li> 
                      <p class="my-item">
                          Email
                          <br>
                          <span class="my-item-sub">thiagoyeds2013@gmail.com</span>
                          <br>
                          <span class="my-item-sub">marcelinhofernandes2013@gmail.com</span>
                      </p>
                  </li>
              </ul>
              <div class="center-align">
                  <a class="waves-effect waves-teal btn-flat btn-large" onclick="Home()">Fechar</a>
              </div>
          </div>

          
      </div>
      <div class="my-section" id="index" style="display:block">
        <div>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
